<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1 align="center">Change user data
    <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>
        <label for="surname">Enter surname:</label>
        <input type="text" th:field="*{surname}" id="surname">
        <br/>
        <label for="age">Enter email</label>
        <input type="text" th:field="*{age}" id="age">
        <br/>
        <input type="submit" value="Update">
    </form>
</h1>
</body>
</html>